*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* Creación del MENU */
header{
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background-color:rgb(255, 255, 255);
}

.ancho{
  width: 80%;
  height: 70px;
  margin: auto;
}

.logo{
  width: 30%;
  height: 70px;
  float:left;
  padding-top: 10px;
  box-sizing: border-box;
}
.logo h1 a{
  color: rgb(255, 200, 85);
  font-weight: bold;
  font-size: 40px;


}

.menu{
 width: 70%;
 height: 70px;
 float: inline-end;
 box-sizing: border-box;
 justify-content: end;
 text-align: end;

}

.menu ul li {
  display: inline-block;

}

.menu ul li a{
  
  color: rgb(77, 82, 87);
  display: block;
  font-size: 15px;
  padding: 30px 10px;
  font-weight: bold;
  
}

.menu ul li a:hover{
  background-color :rgb(255, 200, 85);
}



/* Inicio de la Pagina */

main{
  /* background-color: violet; */
  width: 100%;
  height: auto;
  margin-top: 70px;
  color:rgb(77, 82, 87);
}


.inicio{
  width: 70%;
  height: 400px;
  margin:auto;
  display: flex;
  align-items: center;

}
.texto{
   width: 70%;
   float: left;
   display: inline;
}
 .texto p{
  margin-bottom: 10px;
 }
.texto h1{
  font-weight: bold;
  margin-bottom: 10px;
}
.description{
  font-weight: 600;
  margin-bottom: 10px;
}
.imagen{
  width: 60%;
  height: 400px;
  display:flex;
  padding-top: 60px;
  box-sizing: border-box;
 
  margin: auto;

}
.imagen-inicio img{
  display: flex;
  margin:auto;
}

.boton{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background:rgb(255, 200, 85);
  color:rgb(35, 37, 39);
  font-weight: 600;
  cursor: pointer;
  
}
.boton:hover{
  background-color: white;
  border: 2px solid rgb(255, 200, 85);

}
/* Sobre Mi */

.sobre-mi{
  /* background-color: yellow; */
  width: 70%;
  height: auto;
  margin: auto;
 

}
.texto-about-me {
  /* background-color: blue; */
  /* padding-top: 80px; */
  margin-top: 80px;
  text-align: center;
}

h2{

  font-weight: bold;
  margin-bottom: 20px;
}
 span{
  font-weight: bold;
  text-decoration: underline rgb(255, 200, 85) ;
  text-underline-offset: 7px;
  /* letter-spacing: 0.2em; */
 }

 p{
  white-space: break-lines;
  font-size: small;
  font-style:inherit;
  margin-bottom: 20px;
  /* line-height: 1.5; */
  /* margin-bottom: 20px; */
  /* padding-bottom: 20px; */
 }

 .parte-botones{
  text-align: center;

 }

 .boton2{
  padding: 10px 20px;
  border: 2px solid rgb(255, 200, 85);
  border-radius: 5px;
  background: white;
  color:rgb(35, 37, 39);
  font-weight: 600;
  cursor: pointer;
  margin-left: 10px;
 }

 .boton2:hover{
  background-color: rgb(255, 200, 85);
  border: none;
}

/* Servicios */

.servicios{
  width: 70%;
  height: auto;
  margin: auto;
}

.texto-servicios{
  margin-top: 80px;
  text-align: center;
}

.primera-linea{
  /* background-color: blueviolet; */
  display: flex; /* Arrange boxes in a row */
  /* flex-wrap: wrap; Wrap boxes to multiple rows if necessary */
  justify-content: space-around; /* Distribute boxes evenly with spacing */
  gap: 20px;
  margin-bottom: 10px;
}

.segunda-linea{
  /* background-color: aqua; */
  display: flex; /* Arrange boxes in a row */
  /* flex-wrap: wrap; Wrap boxes to multiple rows if necessary */
  justify-content: space-around; /* Distribute boxes evenly with spacing */
  gap: 20px;
  
}

.box{
  padding: 30px; 
  border-radius: 5px; /* Add rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
  text-align:left; 
  
}

/* .box img{
} */

.box h3{
  margin-bottom: 10px; /* Add space below the heading */
  font-size: 18px; /* Adjust heading font size */
  font-weight: bold; 
}

.box p{
  margin-bottom: 0; /* Remove default bottom margin */
  font-size: 14px; /* Adjust paragraph font size */
  line-height: 1.5; 
}

.box img{
  max-width: 30px;
}

#b1{
  background-color: rgb(112, 186, 255) ;
}
#b2{
  background-color: rgb(243, 224, 117) ;
}
#b3{
  background-color: rgb(255, 125, 233);
}
#b4{
  background-color: rgb(58, 255, 157) ;
}

/* Último Trabajo */

.ultimo-trabajo{
  width: 70%;
  height: auto;
  margin: auto;
 
}
.texto-ultimo-trabajo {
  text-align: center;
  margin-top: 80px;
  /* justify-content: center; */
}
.mini-menu{
  margin-bottom: 10px;
}
.mini-menu ul{
  list-style:none;
  text-align: center;

}

.mini-menu li{
  display: inline;
  margin-right: 10px;
}

.seccion-img{
  display: flex; 
  gap: 20px;
  /* margin: auto; */
  justify-content: center;


}

.seccion-img img  {

  max-width: 150px;
  margin-bottom: 10px;
  box-shadow: 0px 5px 5px 3px rgb(163, 163, 161);
  border-radius: 5px;

}


/* Inicio Esperiencias */

.experiencias{
  /* background-color: blueviolet; */
  width: 70%;
  height: auto;
  margin: auto;
}

.text-experiencias{
  margin-top: 80px;
  text-align: center;
}

.cuadros{
  display: flex; /* Arrange boxes in a row */
  /* flex-wrap: wrap; Wrap boxes to multiple rows if necessary */
  justify-content: space-around; /* Distribute boxes evenly with spacing */
  gap: 20px;
  margin-bottom: 10px;
  height: auto;
  width: auto;
 
  
}

.primer-cuadro{
  
  background-color: rgb(255, 200, 85);
  padding: 20px;
  box-shadow: 0px 5px 5px 3px rgb(163, 163, 161);
  border-radius: 5px;
}
.segundo-cuadro{
  background-color: rgb(255, 200, 85);
  padding: 20px;
  box-shadow: 0px 5px 5px 3px rgb(163, 163, 161);
  border-radius: 5px;
}
.tercer-cuadro{
  background-color: rgb(255, 200, 85);
  padding: 20px;
  box-shadow: 0px 5px 5px 3px rgb(163, 163, 161);
  border-radius: 5px;

}

#fecha{
  font-size: 5px;
  margin-bottom: 2px;
}
h5{
  font-size: 10px;
  margin-bottom: none;
}

.primer-cuadro p{
  margin-top: none;
  font-size: 7px;
}
.segundo-cuadro  p{
  font-size: 7px;
}
.tercer-cuadro  p{
  font-size: 7px;
}


.seccion-final{
  background-color: rgb(255, 200, 85);
  margin-top: 70px;
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.seccion-final h4{
  margin-bottom: 15px;
}
